[Unit]
Description=Clinical RNAseq Flask Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/RNAseq_web
Environment="PATH=/home/ubuntu/RNAseq_web/.venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/ubuntu/RNAseq_web/.venv/bin/gunicorn -c gunicorn.conf.py app:app
Restart=always

[Install]
WantedBy=multi-user.target
